.container {
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  /* justify-content: center;
  align-items: flex-end; */
}

.header {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
}

.title {
  width: 60vw;
  height: 15vh;
  display: flex;
  align-items: center;
  font-size: 50px;
  color: rgb(0, 71, 48);
}

.image {
  width: 20vw;
  height: 15vh;
  background-image: url('/assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.inventory {
  width: 100vw;
  height: 80vh;
}
