<div class="container">
  <div class="header">
    <div class="title">Frutas y verduras</div>
    <div class="image"></div>
  </div>
  <div class="inventory">
    <mat-tab-group animationDuration="0ms">

      <!-- INVENTARIO ************************************************************************************************** -->
      <mat-tab label="Inventario">
        <app-inventory></app-inventory>
      </mat-tab>

      <!-- PRODUCTOS *************************************************************************************************** -->
      <mat-tab label="Productos" style="background-color: blanchedalmond;">
        <app-products></app-products>
      </mat-tab>

      <!-- PROVEEDORES ************************************************************************************************* -->
      <mat-tab label="Proveedores">
        <app-providers></app-providers>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>

